<div class="container" alt="ceci est une question">
  <button class="buttons" id="s" ng-click="go()">Stop here & share !</button>

  <h2>Pick a topic :</h2>
  <h3><input type="radio" id="1" ng-model="RB" value="dogs"><label for="1"> Dogs</label></h3>
  <h3><input type="radio" id="2" ng-model="RB" value="tuts"><label for="2"> Tutorials</label></h3>
  <h3><input type="radio" id="3" ng-model="RB" value="cars"><label for="3"> Cars</label></h3>
  <input type="button" class="buttons" id="p" name="previous" value="Previous" />
  <input type="button" class="buttons" id="n" name="next" value="Next" />
</div><!-- /end .container -->
