<div class="container" alt="ceci est une question">
  <button class="buttons" id="s" ng-click="go()">Stop here & share !</button>

  <h2>\\ {{category}} //</h2>
 	<h3>{{question}}</h3>

	<h4 ng-repeat="myvar in answers"><input type="radio" id="1" ng-model="RB" value="dogs"><label for="1"> {{myvar}}</label></h4>

  <input type="button" class="buttons" id="p" name="previous" value="Previous" />
  <input type="button" class="buttons" id="n" name="next" value="Next" />
</div><!-- /end .container -->
