<div class="container" alt="ceci est une question">
  <button class="buttons" id="s" ng-click="go()">Stop here & share !</button>

  <h6>-- {{category}} --</h6>
 	<h3>{{question}}</h3>

	<div ng-if="rb">
		<label ng-repeat="myvar in listeAnswers"><h5><input type="radio" name="blabla" id="{{$index}}" ng-model="$parent.$parent.blabla" ng-value="myvar"> {{myvar}}</h5></label>
	</div>

	<div ng-if="cb">
		<label ng-repeat="myvar in listeAnswers"><h5><input type="checkbox" name="blabla" id="{{$index}}" ng-model="$parent.$parent.blabla" ng-value="myvar"> {{myvar}}</h5></label>
	</div>

	<div ng-if="tf">
		<label><h5><input type="text" name="blabla" id="{{$index}}" ng-model="$parent.blabla" ng-value=""></h5></label>
	</div>

	<div ng-if="ctf">
		<h5 ng-repeat="myvar in listeAnswers"><input type="checkbox" name="cb" id="{{$index}}" ng-model="blabla" ng-value="myvar"><label for="{{$index}}"> {{myvar}}</label></h5>
	</div>

	<div ng-if="rtf" id="rtf">
		<h5 ng-repeat="myvar in listeAnswers"><input type="radio" name="rtf" id="{{$index}}" ng-model="RTF" ng-value="myvar"><label for="{{$index}}"> {{myvar}}</label></h5>
		<h5 ng-repeat="myvar in listeAnswers"><input type="radio" name="rtf" id="{{$index}}" ng-model="RTF" ng-value="myvar"><label for="{{$index}}"> <input type="textfield" name="tf" id="{{$index}}" ng-model="TF" ng-value="myvar"><label for="{{$index}}"> </label></h5>
	</div>

	<div ng-if="l">
	 	<select ng-model="$parent.blabla">
	       <option 
	           ng-repeat="myvar in listeAnswers" value="{{myvar}}">
	           {{myvar}}
	       </option>	       
	    </select>
	</div>



  	<input ng-click="previous()" type="button" class="buttons" id="p" name="previous" value="Previous" />
  	<input ng-click="next()" type="button" class="buttons" id="n" name="next" value="Next" />

 	 <div ng-if="theEnd">
		<button id="btnFin" ng-click="sendData()">Save the data in the database</button>
	</div>
</div><!-- /end .container -->