  /*-  BASE STYLES
  ----------------------------------------------------------------------*/
  body {
    background: #98E3E3;
  	font: normal 100%/1.5 sans-serif;
  }

  img {
  	max-width: 100%;
  }
  .ie6 img {
  	width: 100%;
  }

  .page {
  	margin: 25px auto;
  	width: 90%;
  }

  #img {
    position: absolute;
  	width: 15%;
    margin-top: -8%;
    margin-left: -4%;
  }

  .container {
    width:90%;
    position: relative;
    margin: auto;
    margin-top: 8em;
    text-align: center;
  }

  h2 {
    font-size: 3em;
    color: white;
  }

  h3 {
    font-size: 1em;
  }

  .buttons {
    border: none;
    background: #00A4A4;
    color: white;
    padding: 1% 0%;
    width: 10em;
    border-radius: 10px;
    position: absolute;
    font-size: 1.5em;
  }

  #p {
    left: 0;
    margin-top: 10%;
  }
  #n {
    right: 0;
    margin-top: 10%;
  }
  #s {
    right: 1%;
    margin-top: -8%;
    border-radius: 100px;
    height: 9.5em;
    font-size: 1.1em;
  }


  #footer {
    position:absolute;
    bottom:0;
    width:90%;
    text-align: center;
  	font-size: 0.7em;
  }





  #overlay {
      position: fixed;
      display: block;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0,0,0,0.9);
      z-index: 2;
      cursor: pointer;
      text-align: center;
  }

  #text{
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: 1.3em;
      color: white;
      transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
}

h4 {
  font-size: 2em;
  color: white;
}



/* MEDIA QUERIES */

@media screen and (min-width: 768px)
{
  .container {
    margin-top: 11em;
  }

  h2 {
    font-size: 4em;
  }

  h3 {
    font-size: 1.5em;
  }

  #p, #n {
    margin-top: 13%;
  }

  #footer {
    position:relative;
    width:100%;
    margin-top: 23.5em;
    font-size: 0.9em;
  }
}
