/*-  BASE STYLES
----------------------------------------------------------------------*/
body {
  background: #98E3E3;
  font: normal 100%/1.5 sans-serif;
}

img {
  max-width: 100%;
}
.ie6 img {
  width: 100%;
}

.page {
  margin: 25px auto;
  width: 90%;
}

#img {
  position: absolute;
  width: 15%;
  margin-top: -8%;
  margin-left: -4%;
}

.container {
  width:90%;
  position: relative;
  margin: auto;
  text-align: center;
}

h2 {
  font-size: 3em;
  color: white;
}

h3 {
  font-size: 1em;
}

.buttons {
  border: none;
  background: #00A4A4;
  color: white;
  padding: 1% 0%;
  width: 10em;
  border-radius: 10px;
  position: absolute;
  font-size: 1.5em;
}
.buttons:hover {
  background: #357878;
}

#p {
  left: 0;
  margin-top: 15%;
}
#n {
  right: 0;
  margin-top: 15%;
}
#s {
  right: 1%;
  margin-top: -8%;
  border-radius: 100px;
  height: 9.5em;
  font-size: 1.1em;
}

#btnFin {
  position: absolute;
  width: 30%;
  border-radius: 10px;
  border-width: 7px;
  border-color: grey;
  background: #98E3E3;
}



#footer {
  position:absolute;
  bottom:0;
  width:90%;
  text-align: center;
  font-size: 0.7em;
}





#overlay {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.9);
    z-index: 2;
    cursor: pointer;
    text-align: center;
}

#text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 1.3em;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

h4 {
  font-size: 2em;
  color: white;
}

h5 {
  font-size: 1em;
  font-weight: normal;
}

h6 {
  font-size: 3em;
  color: white;
  text-shadow: 2px 2px #00A4A4;
}


/* INPUTS STYLING */

input[type=radio] {
  position: relative;
  margin: auto;
  margin-top: 1%;
  text-align: left;
}

#rb, #cb, #rtf {
  font-size: 1.5em;
}


input[type=textfield] {
    width: 25%;
    border: 2px solid #007D7D;
    border-radius: 4px;
    padding: 12px 20px;
}

input[type=textfield]:focus {
    border: 3px solid #006363;  
}

select {
    width: 50%;
    padding: 12px 20px;
    font-size: 1.5em;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
    margin-top: 2%;
}





/* MODAL CONTAINER */

   /* The Modal (background) */
  .modal {
      display: none; 
      position: fixed; 
      z-index: 1; 
      left: 0;
      top: 0;
      width: 100%; 
      height: 100%; 
      overflow: auto; 
      background-color: rgb(0,0,0); 
      background-color: rgba(0,0,0,0.7); 
  }

  /* Modal Content/Box */
  .modal-content {
      background-color: #fefefe;
      margin: 20% auto; 
      border: 1px solid #888;
      width: 60%; 
      text-align: center;
  }

  /* The Close Button */
  .close {
      color: #aaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
  }

  .close:hover,
  .close:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
  } 





/* MEDIA QUERIES */

@media screen and (min-width: 1500px)
{
  #img {
    width: 18%;
    margin-top: -3%;
    margin-left: -3%;
  }

  #s {
    right: -8%;
    margin-top: -3%;
  }

  .container {
    margin-top: -2em;
  }

  h2 {
    font-size: 4em;
  }

  h3 {
    font-size: 1.5em;
    padding-top: -10em;
  }

  h6 {
    padding-top: 0.5em; 
  }

  #p, #n {
    margin-top: 15%;
  }

  #footer {
    position:relative;
    width:100%;
    margin-top: 22em;
    font-size: 0.9em;
  }

  .modal-content {
    margin: 30% auto; 
  }



}
